<%- include('header') -%>

<div class="container text-center content">
  <div class="d-flex justify-content-center align-items-center flex-column pb-2">
    <div class="d-flex align-items-center">
      <img src="/Pictures/project.png" width="28" height="30" class="align-middle">
      <h2 class="ms-2 mb-0">Projects</h2>
    </div>
    <div class="custom-line mt-2"></div>
  </div>

  <div class="table-responsive">
    <table class="table align-middle text-nowrap">
      <thead>
        <tr>
          <th class="col-lg-3 mybottomborder myrightborder">Project</th>
          <th class="col-lg-3 mybottomborder myrightborder">Status</th>
          <th class="col-lg-3 mybottomborder myrightborder">Priority</th>
          <th class="col-lg-3 mybottomborder">Tags</th>
        </tr>
      </thead>

      <tbody>
        <% projects.forEach((project) => { %>
          <tr>
            <!-- Project Name -->
            <td class="col-lg-3 mybottomborder myrightborder myth">
              <%= project.name %>
              <a href="/project/edit/<%= project.projectid %>" class="myth">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>
          
            <!-- Project Status -->
            <td class="col-lg-3 mybottomborder myrightborder">
              <div class="box" style="--color: #82bbd9; --text-color:#122c50;">
                <%= project.status %>
              </div>
            </td>
          
            <!-- Project Priority -->
            <td class="col-lg-3 mybottomborder myrightborder">
              <% if (project.priority === 'Low') { %>
                <div class="box" style="--color: #8cd982; --text-color:#12501b;">
                  <%= project.priority %>
                </div>
              <% } else if (project.priority === 'Medium') { %>
                <div class="box" style="--color: #c5d982; --text-color:#7e7921;">
                  <%= project.priority %>
                </div>
              <% } else if (project.priority === 'High') { %>
                <div class="box" style="--color: #d98282; --text-color:#501212;">
                  <%= project.priority %>
                </div>
              <% } %>
            </td>
          
            <!-- Project Tags -->
            <td class="col-lg-3 mybottomborder">
              <div class="d-flex justify-content-start">
                <% if (project.tags.length > 0) { %>
                  <% project.tags.forEach((tag) => { %>
                    <div class="box" style="--color: #82bbd9; --text-color:#122c50; margin-right: 5px;">
                      <%= tag %>
                    </div>
                  <% }) %>
                <% } else { %>
                  <div class="text-muted">No tags</div>
                <% } %>
              </div>
            </td>
          </tr>
          <% }) %>
          
      </tbody>
    </table>
  </div>

  <div class="d-inline-flex fixed-bottom-right">
    <a href="/project/new" type="button" class="btn" style="background-color: #756ec7; color: #f1f1f1;">+ Add project</a>
  </div>

</div>

</body>

  <%- include('project-style') -%>
  <%- include('footer') -%>