<%- include('header') -%>

<div class="container text-center content">
  <div class="d-flex justify-content-center align-items-center flex-column pb-2">
    <div class="d-flex align-items-center">
      <img src="/Pictures/project.png" width="28" height="30" class="align-middle">
      <h2 class="ms-2 mb-0">Projects</h2>
    </div>
    <div class="custom-line mt-2"></div>
  </div>

  <div class="table-responsive">
    <table class="table align-middle text-nowrap">
      <thead>
        <tr>
          <th class="col-lg-3 mybottomborder myrightborder">Project</th>
          <th class="col-lg-3 mybottomborder myrightborder">Tracked Time</th>
          <th class="col-lg-3 mybottomborder myrightborder">Status</th>
          <th class="col-lg-3 mybottomborder myrightborder">Priority</th>
          <th class="col-lg-3 mybottomborder">Tags</th>
        </tr>     
      </thead>

      <tbody>
        <%- include('messages') -%>

        <% projects.forEach((project) => { %>
          <tr>
            <!-- Project Name -->
            <td class="col-lg-3 mybottomborder myrightborder myth">
              <%= project.name %>
              <a href="/project/edit/<%= project._id %>" class="myth">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
            </td>

            <!-- Project Time -->
            <td class="col-lg-3 mybottomborder myrightborder myth">
              <%= (typeof project.tracked_time === 'undefined' || project.tracked_time === 0) 
                  ? '0h 0m' 
                  : Math.floor(project.tracked_time / 60) + 'h ' + (project.tracked_time % 60) + 'm' 
              %>
            </td>            
          
            <!-- Project Status -->
            <td class="col-lg-3 mybottomborder myrightborder">
              <% const status = statuses.find(s => s.value === project.status); %>
              <% if (status) { %>
                  <div class="box" style="--color: <%= status.bgcolor %>; --text-color: <%= status.textColor %>;">
                      <%= project.status %>
                  </div>
              <% } else { %>
                  <div class="box" style="background-color: #f0f0f0; color: #333;">
                      <%= project.status %>
                  </div>
              <% } %>
          </td>
          
            <!-- Project Priority -->
            <td class="col-lg-3 mybottomborder myrightborder">
              <% const priority = priorities.find(p => p.value === project.priority); %>
              <% if (priority) { %>
                  <div class="box" style="--color: <%= priority.bgcolor %>; --text-color: <%= priority.textColor %>;">
                      <%= project.priority %>
                  </div>
              <% } else { %>
                  <div class="box" style="--color: #f0f0f0; --text-color: #333;">
                      <%= project.priority %>
                  </div>
              <% } %>
          </td>
          
            <!-- Project Tags -->
            <td class="col-lg-3 mybottomborder">
              <div class="d-flex justify-content-start">
                <% if (project.tags && Array.isArray(project.tags) && project.tags.length > 0 && project.tags.some(tag => tag.trim().length > 0)) { %>
                  <% project.tags.forEach((tag) => { %>
                    <% if (tag.trim().length > 0) { %>
                      <% const color = colors[Math.floor(Math.random() * colors.length)]; %>
                      <div class="box" style="--color: <%= color.bgcolor %>; --text-color:<%= color.textColor %>; margin-right: 5px;">
                        <%= tag %>
                      </div>
                    <% } %>
                  <% }) %>
                <% } %>
              </div>
            </td>            

            </tr>
          <% }) %>
          
      </tbody>
    </table>
  </div>

  <div class="d-inline-flex fixed-bottom-right">
    <a href="/project/new" type="button" class="btn mybutton">+ Add project</a>
  </div>

</div>

</body>

  <%- include('project-style') -%>
  <%- include('footer') -%>