<%- include('header') -%>
<%- include('messages') -%>

<div class="container text-center content">
    <h2><% if(typeof time === 'undefined') {%>Add time<%} else {%>Edit time<%} %></h2>

    <% if (typeof myerror !== 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>

    <%
    let formattedDate = ''; 
    let startTime = '';
    let endTime = '';

    if (typeof time !== 'undefined') {
        // Extract date part
        formattedDate = moment(time.start, "YYYY-MM-DD HH:mm:ss").format("YYYY. MM. DD.");

        // Extract time parts from string
        startTime = moment(time.start, "YYYY-MM-DD HH:mm:ss").format("HH:mm");
        endTime = (time.end && time.end !== "1900-01-01 00:00:00") ? moment(time.end, "YYYY-MM-DD HH:mm:ss").format("HH:mm") : '';
    }

    projects.sort((a, b) => {
        const nameA = a.name.toUpperCase(); // ignore upper/lower case
        const nameB = b.name.toUpperCase();
        if (nameA < nameB) return -1;
        if (nameA > nameB) return 1;
        return 0;
      });
    %>

    <form action="/timesheet/save/<%= (typeof time !== 'undefined' && time._id) ? time._id : '' %>" method="POST">

        <table class="table align-middle">
            <thead>
                <tr>
                    <th class="col-lg-3"></th>
                    <th class="col-lg-3 mybottomborder myrightborder">Value</th>
                    <th class="col-lg-3 mybottomborder">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="col-lg-3"></th>
                    <td class="col-lg-3 text-start mybottomborder myrightborder">Project name</td>
                    <td class="col-lg-3 mybottomborder">
                        <select class="form-control" id="project-name" name="project_name">
                            <option value="" <% if (typeof time === 'undefined' || !time.project_name) { %> selected <% } %> disabled>
                                Select a project
                            </option>
                            <% projects.forEach(project => { %>
                                <% if (project.status !== 'Done') { %>
                                  <option 
                                    value="<%= project._id %>" 
                                    <% if (typeof time !== 'undefined' && time.project_name && time.project_name.toString() === project._id.toString()) { %> selected <% } %>>
                                    <%= project.name %>
                                  </option>
                                <% } %>
                              <% }) %>                              
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="col-lg-3"></th>
                    <td class="col-lg-3 text-start mybottomborder myrightborder">Date</td>
                    <td class="col-lg-3 mybottomborder">
                        <input type="text" class="form-control" id="date" name="date" required
                               value="<%= (typeof time === 'undefined') ? '' : formattedDate %>">
                    </td>
                </tr>
                <tr>
                    <th class="col-lg-3"></th>
                    <td class="col-lg-3 text-start mybottomborder myrightborder">Start Time</td>
                    <td class="col-lg-3 mybottomborder">
                        <input type="text" class="form-control" id="start-time" name="start" required
                               value="<%= (typeof time === 'undefined') ? '' : startTime %>">
                    </td>
                </tr>
                <tr>
                    <th class="col-lg-3"></th>
                    <td class="col-lg-3 text-start mybottomborder myrightborder">End Time</td>
                    <td class="col-lg-3 mybottomborder">
                        <input type="text" class="form-control" id="end-time" name="end" 
                               value="<%= (typeof time === 'undefined') ? '' : endTime %>">
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-3"></td>
                    <td class="col-lg-6 text-start" colspan="4">Notes</td>
                    <td class="col-lg-3"></td>
                </tr>
                <tr>
                    <td class="col-lg-3"></td>
                    <td class="col-lg-6 note" colspan="4">
                        <textarea name="notes" class="form-control" rows="3" id="notes"><%= (typeof time === 'undefined') ? '' : time.notes %></textarea>
                    </td>
                    <td class="col-lg-3"></td>
                </tr>
            </tbody>
        </table>

        <div class="d-inline-flex gap-1">
            <button type="submit" class="btn savebutton" style="margin-top: 8px; margin-left: 12px;">Save</button>
            <a href="javascript:window.history.back();" 
                class="btn cancelbutton" style="margin-top: 8px; margin-left: 12px;">
                Cancel
            </a>

            <% if(typeof time !== 'undefined') { %>
                <a href="#" id="delete-button" data-time-id="<%= time._id %>" 
                   class="btn deletebutton" style="margin-top: 8px; margin-left: 12px;">Delete</a>
            <% } %>
        </div>
    </form>
</div>

<%- include('time-style') -%>

<script>
    document.getElementById('delete-button')?.addEventListener('click', function (event) {
        event.preventDefault();
        const timeId = this.getAttribute('data-time-id');
        if (confirm('Are you sure you want to delete this time entry?')) {
            window.location.href = '/timesheet/del/' + timeId;
        }
    });

    flatpickr("#date", 
    {
        theme: "dark",
        dateFormat: "Y. m. d.",
        locale: { firstDayOfWeek: 1 },
        onClose: function (selectedDates, dateStr) {
            if (dateStr) {
                document.getElementById("date").classList.remove("is-invalid");
                bootstrap.Popover.getInstance(document.getElementById("date")).hide();
            }
        }
    });

    flatpickr("#start-time", 
    {
        enableTime: true,
        time_24hr: true,
        noCalendar: true,
        dateFormat: "H:i",
        theme: "dark",
        onClose: function (selectedDates, timeStr) {
            if (timeStr) {
                document.getElementById("start-time").classList.remove("is-invalid");
                bootstrap.Popover.getInstance(document.getElementById("start-time")).hide();
            }
        }
    });

    flatpickr("#end-time",
    {
        enableTime: true,
        time_24hr: true,
        noCalendar: true,
        dateFormat: "H:i",
        theme: "dark"
    });
</script>

<%- include('time-errors') -%>
<%- include('footer') -%>
