<%- include('header') -%>

<div class="container text-center content">
    <h2><% if(typeof time === 'undefined') {%>Add time<%} else {%>Edit time<%} %></h2>

    <table class="table align-middle">
        <thead>
            <tr>
                <th class="col-lg-3"></th>
                <th class="col-lg-3 mybottomborder myrightborder">Value</th>
                <th class="col-lg-3 mybottomborder">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="col-lg-3"></th>
                <td class="col-lg-3 text-start mybottomborder myrightborder">Project name</td>
                <td class="col-lg-3 mybottomborder">
                    <input type="text" class="form-select" placeholder="" id="project-name" value="<%= (typeof time === 'undefined') ? '' : time.project_name %>">
                </td>
            </tr>
            <tr>
                <th class="col-lg-3"></th>
                <td class="col-lg-3 text-start mybottomborder myrightborder">Date</td>
                <td class="col-lg-3 mybottomborder">
                    <input type="date" class="form-control" placeholder="" id="date" value="<%= (typeof time === 'undefined') ? '' : time.date %>">
                </td>
            </tr>
            <tr>
                <td class="col-lg-3"></td>
                <td class="col-lg-3 text-start mybottomborder myrightborder">Start</td>
                <td class="col-lg-3 mybottomborder">
                    <input type="time" class="form-control" placeholder="" id="time-start" value="<%= (typeof time === 'undefined') ? '' : time.start %>">
                </td>
            </tr>
            <tr>
                <td class="col-lg-3"></td>
                <td class="col-lg-3 text-start mybottomborder myrightborder">End</td>
                <td class="col-lg-3 mybottomborder">
                    <input type="time" class="form-control" placeholder="" id="time-end" value="<%= (typeof time === 'undefined') ? '' : time.end %>">
                </td>
            </tr>
            <tr>
                <td class="col-lg-3"></td>
                <td class="col-lg-6 text-start" colspan="4">Notes</td>
                <td class="col-lg-3"></td>
            </tr>
            <tr>
                <td class="col-lg-3"></td>
                <td class="col-lg-6 note" colspan="4">
                    <textarea type="text" class="form-control" placeholder="" rows="3" id="notes"><%= (typeof time === 'undefined') ? '' : time.project_name %></textarea>
                </td>
                <td class="col-lg-3"></td>
            </tr>
        </tbody>
    </table>

    <div class="d-inline-flex gap-1">
        <a href="/" type="submit" class="btn" style="background-color: #53ab50; color: #f1f1f1; margin-top: 8px; margin-left: 12px;">Save</a>
        <a href="/" type="cancel" class="btn" style="background-color: #68686a; color: #f1f1f1; margin-top: 8px; margin-left: 12px;">Cancel</a>
        <% if(typeof time === 'undefined') {} else {%> <a href="/" type="delete" class="btn" style="background-color: #e73e3e; color: #f1f1f1; margin-top: 8px; margin-left: 12px;">Delete</a> <%} %>
    </div>
</div>
    
<%- include('time-style') -%>
<%- include('footer') -%>